@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

.Roboto-Bold {
  font-family: "Roboto-Bold";
}
.Roboto-Light {
  font-family: "Roboto-Light";
}
.Roboto-Medium {
  font-family: "Roboto-Medium";
}
